
	<section class="page">
        {{!-- <div class="page__info"> --}}
            {{!-- <div class="page__block">
                <button class="button"><img src="/svg/arrow-back.svg" alt="Go back"></button>
                <button class="button"><img src="/svg/IMG_4.svg" alt="Avatar"></button>
            </div> --}}

            {{!-- <div class="page__block">
                <h1 class="page__title">Мій блог</h1>
            </div> --}}

            {{!-- <div class="page__card">
                <div class="page__icons">
                    <div class="page__icons-info">
                        <span class="page__icons-yellow">Важливо</span>
                        <span class="page__icons-pink">Нова</span>
                    </div>
                    <div class="page__icons-info">
                        <span class="page__icons-date">25.01</span>
                    </div>
                </div>

                <div class="page__promoText">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</div>
            </div>

            <div class="page__card">
                <div class="page__icons">
                    <div class="page__icons-info">
                        <span class="page__icons-yellow">Важливо</span>
                        <span class="page__icons-pink">Нова</span>
                    </div>
                    <div class="page__icons-info">
                        <span class="page__icons-date">15.01</span>
                    </div>
                </div>

                <div class="page__promoTextGrey">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак самопрезентацій.</div>
            </div>

            <div class="page__card">
                <div class="page__icons">
                    <div class="page__icons-info">
                        <span class="page__icons-yellow">Важливо</span>
                        <span class="page__icons-pink">Нова</span>
                    </div>
                    <div class="page__icons-info">
                        <span class="page__icons-date">25.01</span>
                    </div>
                </div>

                <div class="page__promoText">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</div>
            </div> --}}
                
        {{!-- </div> --}}
    </section>
